<section class="position-relative py-5">
  <div
    class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"
  ></div>

  <div class="container position-relative zindex-2 py-lg-4">
    <div class="row pt-5">
      <div class="col-lg-6 d-flex flex-column pt-lg-4 pt-xl-5">
        <!-- <h5 class="my-2">Welcome to APCS!<br> Your Trusted Partner for Immaculate Spaces!</h5>
        <h1 class="display-3 mb-4">
          Experience a New <span class="text-primary">Standard</span> of Cleanliness in Austin
        </h1>
        <p class="fs-lg mb-5">
          Locally owned and fully insured, APCS provides custom cleaning solutions for any schedule. From floor care to facility management, let us create a spotless workspace that reflects your commitment to excellence.
        </p> -->
        <h1 class="display-3 mb-4">
          Welcome to <span class="text-primary">Austin Professional Cleaning Service</span>
        </h1>
        <h5 class="my-2">Your Trusted Partner for Immaculate Spaces Across Texas!</h5>
        <p class="fs-lg mb-5">
          <b>APCS</b> is your go-to commercial cleaning service provider in the Austin Metro Area, with expansion into San Antonio and Houston. Locally owned and operated, we bring over 25 years of shared experience and proudly service over 60 million square feet of facility space, including corporate offices, healthcare centers, and large commercial properties.
          For facility managers and recruitment companies, APCS offers fully customizable cleaning solutions designed to meet your specific requirements.        </p>
      
      </div>
      <div class="col-lg-6">
        <div
          appParallax
          [parallaxScale]="5"
          class="parallax mx-auto me-lg-0"
          style="max-width: 648px"
        >
          <div class="parallax-layer" data-depth="0.1">
            <img
            src="assets/img/apcs/layer01.png"
            alt="Layer"
            />
          </div>
          <div class="parallax-layer" data-depth="0.13">
            <img
              src="assets/img/apcs/layer02.png"
              alt="Layer"
            />
          </div>
          <div class="parallax-layer zindex-5" data-depth="-0.12">
            <img
            src="assets/img/apcs/layer03.png"
            alt="Layer"
            />
          </div>
          <div class="parallax-layer zindex-3" data-depth="0.27">
            <img
            src="assets/img/apcs/layer04.png"
            alt="Layer"
            />
          </div>
          <div class="parallax-layer zindex-1" data-depth="-0.18">
            <img
            src="assets/img/apcs/layer05.png"
            alt="Layer"
            />
          </div>
          <div class="parallax-layer zindex-1" data-depth="0.1">
            <img
            src="assets/img/apcs/layer06.png"
            alt="Layer"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
