<h2 class="h1 text-center pt-5 pb-md-0 mb-md-2">Your One-Stop Solution for Cleanliness</h2>

<section class="container mb-md-3 mb-lg-5 pb-5 pt-5">
  <div class="row">
    <div class="col-md-12">

      <div class="bg-secondary rounded-3 mb-4">
        <div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0">
          <div class="col-lg-4 col-md-5 offset-lg-1 text-center text-md-start">
            <h3 class="mb-lg-4">What Services We Offer</h3>
            <p>
              Austin Professional Cleaning Services (APCS) offers a full range
              of professional cleaning solutions tailored to meet your unique
              needs. From routine janitorial services to specialized care like
              floor maintenance, HVAC cleaning, and post-construction cleanup,
              we use eco-friendly products and advanced equipment to keep your
              workspace spotless and safe. Trust APCS for reliable, high-quality
              service that enhances your business environment.
            </p>
          </div>
          <div class="col-lg-6 col-md-7 mt-2 mb-3 mt-md-3">
            <img
              [src]="imageServices"
              class="d-block rounded-3 my-lg-2 mx-auto me-md-0"
              width="564"
              alt="Image"
            />
          </div>
        </div>
      </div>

      <div class="border rounded-3 mb-4 mb-lg-5">
        <div class="row row-cols-1 row-cols-sm-2 g-0">
          @for (item of servicesData; track $index) {
            <div
              class="col d-flex align-items-center border-end-sm border-bottom p-3"
            >
              <img [src]="item.image" width="48" alt="Icon" />
              <div class="ps-2 ms-1">
                <h3 class="h6 mb-0">{{ item.head }}</h3>
                <p class="fs-xs mb-0">{{ item.content }}</p>
              </div>
            </div>
          }
          <hr class="d-sm-none" />
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row">
        <a
          href="javascript:void(0)"
          class="btn btn-primary mb-3 mb-sm-0 me-sm-3"
          >Send request</a
        >
        <a href="javascript:void(0)" class="btn btn-outline-primary">
          Learn more
          <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>
